<div class="auth">
  <div class="row">
    <div id="register" class="col s6 offset-s3">
      <h3>Create new Password</h3>

      {{#if error}}
        <p class="alert alert-danger">{{error}}</p>
      {{/if}}

      <form action="/auth/password" method="POST">

        <div class="input-field">
          <input type="password" class="validate" id="password" name="password" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Please enter password!"></span>
        </div>

        <div class="input-field">
          <input type="password" class="validate" id="confirm" name="confirm" required>
          <label for="confirm">Confirm Password</label>
          <span class="helper-text" data-error="Please confirm the password!"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="hidden" name="token" value="{{token}}">

        <button type="submit" class="btn btn-primary">Set Password</button>
      </form>
    </div>
  </div>
</div>